{% extends 'base.html' %}


{% block content %}

<section class="section-conten padding-y bg">

{% include 'includes/alerts.html' %}
<div class="container">
	<div class="row">
{% include 'includes/dashboard_sidebar.html' %}
		<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Your order history</strong>

		</header>
		<div class="card-body">
			<div class="row">
			<div class="col-md-12">
				<table class="table table-hover">
				  <thead>
				    <tr>
				      <th scope="col">Order #</th>
				      <th scope="col">Billing Name</th>
				      <th scope="col">Phone</th>
				      <th scope="col">Order Total</th>
						<th scope="col">Date</th>
						<th scope="col">Status</th>
				    </tr>
				  </thead>
				  <tbody>
					{%for order in orders %}
                              <tr>
                                <th scope="row"><a href="#">{{order.order_number}}</a> </th>
                                <td>{{order.full_name}}</td>
                                <td>{{order.phone}}</td>
                                {% if order.discount_amount is None %}
                                <td class="text-right">₹ {{order.order_total}}</td>
                                {% else %}
                                <td class="text-right">₹ {{order.nett_paid}}</td>
                                {% endif %}
                                <td>{{order.created_at}}</td>
                                <td>{{order.status}}</td> 	
                                <!-- <td><a href="{% url 'user_order_cancel' order.order_number %}" class="btn btn-danger m-2" name="order_cancel" id="orderCancelBtn">Cancel Order</a></td> -->
                                {% if order.status == "Cancelled" %}
                                <td>Order Cancelled</td>
                                {% elif order.status == "Order Delivered" %}
                                <td> <form action="{% url 'user_order_return' order.order_number %}" method="POST">{% csrf_token %}
                                  <input name="user_order_return" type="text" value="Return" hidden>
                                  <button type="submit" class="btn btn-warning" >Return Order</button>
                                </form></td>
                                {% elif order.status == "Return" %}
                                <td>Order Returned</td>
                                {% else %}
                                <td> <form action="{% url 'user_order_cancel' order.order_number %}" method="POST">{% csrf_token %}
                                  <input name="user_order_cancel" type="text" value="Cancelled" hidden>
                                  <button type="submit" class="btn btn-danger" >Cancel order</button>
                                </form></td>
                                {% endif %}


                              </tr>
                              {% endfor %}

				  </tbody>
				</table>
			</div>

			</div> <!-- row.// -->
		</div> <!-- card-body .// -->

		</article> <!-- order-group.// -->
	</main>
</div> <!-- row.// -->
</div>


</section>

{% endblock %}