{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
 
<head>
    
    <title>Edit Product</title>
   
</head>
    
         <!-- ============================================================== -->
     
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Edit Product</h2>
                            <p class="pageheader-text"></p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Product</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Edit Product</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- hoverable table -->
                        <!-- ============================================================== -->
                       
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <form action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data" id="editProductForm" style="margin-bottom: 20px; padding: 30px 20px;">
                                        {% csrf_token %}
                                        
                                        <fieldset class="form-group">
                                         
                                          {% include 'includes/alerts.html' %}
                                          {{ form | crispy }}
                                        </fieldset>
                              
                                        <div class="form-group">
                                          <!-- <div id="image-box" class="image-container"></div>
                                          <button class="btn btn-primary" id="crop-btn" style=" display: none;" type="button">Crop</button> -->
                                          <button class="btn btn-primary" id="confirm-btn"  type="submit">Update Product</button>            
                                        </div>
                                          </form>
                                </div>  
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end hoverable table -->
                    <!-- ============================================================== -->
                </div>
        
       
    
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
   
    
    <script>
        $('#editProductForm').validate({
        rules:{
          product_name:{
            required:true,
            minlength:3,
          },
          description:{
            required:true,
            minlength:3,
          },
          price:{
            required:true,
            min:0,
          },
          images:{
            required:true,
          },     
          stock:{
            required:true,
            min:0,
          }, 
              
          category:{
            required:true,
          }, 
        
        },
        messages:{
          product_name:{
            required:"Enter a unique Product name.",
            minlength:"Minimum 3 characters needed.",
          },
          description:{
            required:"Please add some description.",
            minlength:"Minimum 3 characters needed.",
          },  
          price:{
            required:"You need to enter MRP of this product.",
            min:"Price must be more than Zero.",
          },
          images:{
            required:"Select and upload image of the product.",
          },
      
          stock:{
            required:"You need to enter the Stock quantity.",
            min:"Stock quantity must be greater than Zero.",
          },
          category:{
            required:"Please select the product category.",
          }, 
         
        }
        })
        
        </script>
      
  
  
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  
    {% endblock %}
