{% extends 'admin/admin-base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
 
<head>
    
    <title>Products List</title>
   
</head>
    
         <!-- ============================================================== -->
     
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Orders List</h2>
                            <p class="pageheader-text"></p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Orders</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Update Status</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- hoverable table -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <h5 class="card-header"></h5>
                                <div class="card-body">
                                   
                                    <form action="" method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        
                                        <fieldset class="form-group">
                                          {% include 'includes/alerts.html' %}
                                          {{ form | crispy }}
                                        </fieldset>
                              
                                        <div class="form-group">
                
                                          <button class="btn btn-success"  style="width: 100%; margin-top: 10px;" type="submit">Update Order Status</button>            
                                        </div>
                                          </form>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end hoverable table -->
                    <!-- ============================================================== -->
                </div>
        
       
    
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
    
    
    {% endblock %}
