{% extends 'admin/admin-base.html' %}
{% load static %}
{% block content %}
{%load crispy_forms_tags %} 

 <!-- Jquery validation -->
<head>
    
    <title>Categories List</title>
   
</head>
    
         <!-- ============================================================== -->
     
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Add Category</h2>
                            <p class="pageheader-text"></p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Category</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- ============================================================== -->
                    <!-- hoverable table -->
                        <!-- ============================================================== -->
                       
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    {% include 'includes/alerts.html' %}
                                    <form method="POST" action="{% url 'add_category' %}" novalidate id="addCategoryForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ forms|crispy }}
                                   
                                    <div class="form-group col-lg-8 mt-3 ">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                                   </form>
                                   
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end hoverable table -->
                    <!-- ============================================================== -->
                </div>
        
       
    
    <!-- ============================================================== -->
    <!-- end main wrapper -->
    <!-- ============================================================== -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    
    <script>

        $('#addCategoryForm').validate({
        rules:{
            category_name:{
                required:true,
                minlength:3,
            },
            slug:{
                required:true,
                minlength:3,
            },
            description:{
                required:true,
                minlength:10,
            },
            cart_image:{
                required:true,
            },
           
        
        },
        messages:{
            category_name:{
                required:"Enter category name.",
                minlength:"Minimum 3 characters required.",
                },
                slug:{
                required:"Enter slug name",
                minlength:"Minimum 3 characters required.",
                },
                description:{
                required:"Enter Category Description",
                minlength:"Minimum 10 characters required.",
                
            },
            cart_image:{
                required:"Insert image",
            },
          
        
        },
        })
            </script>
    
    {% endblock %}
