{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-content padding-y bg">
  <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
    <div class="row">
      <aside class="col-lg-8">
        <div class="card">
          <h5 class="card-header">Billing Address</h5>
          <div class="card-body">
            <p class="card-text mb-0">{{order.full_name}}</p>
            <p class="card-text mb-0">{{order.full_address}}</p>
            <p class="card-text mb-0">{{order.city}}, {{order.state}}</p>
            <p class="card-text mb-0">{{order.country}}</p>
            {% if order.order_note %}
            <b>Order Note:</b>{{order.order_note}}
            {% endif %}
          </div>
        </div> <!-- card.// -->
        <div class="card">
          <h5 class="card-header">Payment Method</h5>
          <div class="card-body">
            <p class="card-text">PayPal</p>

          </div>
        </div> <!-- card.// -->
        <div class="card">
          <h5 class="card-header">Review Products</h5>
          <div class="card-body">
            <table class="table table-borderless table-shopping-cart">
              <thead class="text-muted">
                <tr class="small text-uppercase">
                  <th scope="col">Product</th>
                  <th scope="col" width="120">Quantity</th>
                  <th scope="col" width="120">Price</th>
                  <th scope="col" class="text-right" width="200"> </th>
                </tr>
              </thead>
              <tbody>
                {% for cart_item in cart_items %}
                <tr>
                  <td>
                    <figure class="itemside align-items-center">
                      <div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm"></div>
                      <figcaption class="info">
                        <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{
                          cart_item.product.product_name }}</a>
                        <p class="text-muted small">Color: 25 Mpx <br> Size: Canon</p>
                      </figcaption>
                    </figure>
                  </td>
                  <td>
                    <!-- col.// -->
                    <label for="">{{cart_item.quantity}}</label>
                  </td>
                  <td>
                    <div class="price-wrap">
                      <var class="price">$ {{cart_item.sub_total }}</var>
                      <small class="text-muted"> $ {{ cart_item.product.price }} each </small>
                    </div> <!-- price-wrap .// -->
                  </td>

                </tr>

                {% endfor %}



              </tbody>
            </table>
          </div>
        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <aside class="col-lg-4">

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-right">$ {{ total }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Tax:</dt>
              <dd class="text-right"> $ {{ tax }}</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Grand Total:</dt>
              <dd class="text-right text-dark b"><strong>$ {{ grand_total }}</strong></dd>
            </dl>
            <span id="discountsID" hidden>
              <dl class="dlist-align">
                <dt>Discount amount:</dt>
                <dd class="text-right" id="discAmount"> </dd>
              </dl>
              <dl class="dlist-align">
                <dt>Nett Payable:</dt>
                <dd class="text-right text-dark b" id="discGrandTotal" style="color: darkgreen;"> <strong> amount
                  </strong></dd>
              </dl>
            </span>

            <hr>
            <p class="text-center mb-3">
              <img src="{% static 'images/misc/payments.png' %}" height="26">
            </p>
            Payment</a> -->

            <!-- Coupon  -->
            <input type="text" id="couponInp" class="form-control mb-2">
            <span id="couponAlert" style="color:orange;" class="text-center"></span>
            <span id="couponSuccessAlert" style="color:green;" class="text-center"></span>
            <button onclick="claimCoupon()" class="btn btn-primary btn-block mb-2 mt-2" id="claimButton">Claim
              Coupons</button>

              <!-- Paypal -->
              <div id="paypal_container"> {{ form.render }}</div>

              <!-- Trigger the modal with a button
<button type="button" href="{% url 'place_order_test'%}" class="btn btn-info" data-toggle="modal" data-target="#myModal">Paypal</button>

Modal 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

 Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        {{ form.render }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

              -->
  
             
       
              

              <form action="order_complete" method="POST">
                {% csrf_token %}  
                <!-- RAZORPAY INTEGRATION HERE -->

                <script src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="rzp_test_N9YYgyoIQNNsad"
                data-amount="amount"
                data-currency="INR"
                data-order_id="{{payment.id}}"
                data-buttontext="Pay with Razorpay"
                data-name="Professional Cipher"
                data-description="Django and Data Science"
                data-image="https://example.com/your_logo.jpg"  
                data-prefill.name="PC"
                data-prefill.email="pc@studygyaan.com"
                data-theme.color="#1E90FF">
                </script>
              </form>


           <!-- cash on delivery  -->
            <a href="{% url 'cod_order_complete' order.order_number %}" class="btn btn-success btn-block">Cash On
              Delivery</a>


          </div> <!-- card-body.// -->
        </div> <!-- card.// -->

      </aside> <!-- col.// -->


    </div> <!-- row.// -->

  </div> <!-- container .//  -->
</section>




 <!--====================== Coupon Start ======================-->
<script>
  function claimCoupon() {
    document.getElementById('couponAlert').innerText = ""
    console.log("I am here")
    /* alert("coupon claim button clicked") */
    var code = document.getElementById('couponInp').value
    /* alert(code) */
    var data = {
      'code': code,
      'csrf_token': '{{csrf_token}}'
    }
    console.log(code)
    $.ajax({
      url: "{% url 'verify_coupon' %}",
      method: "POST", 
      data: data,

      success: function (response) {
        var coupon = response.success
        if (coupon == "valid") {
          console.log("Coupon Verified Successfully")
          document.getElementById('couponSuccessAlert').innerText = "Coupon successfully applied."
          document.getElementById('couponInp').hidden = true
          document.getElementById('claimButton').disabled = true
          document.getElementById('discountsID').hidden = false
          document.getElementById('discGrandTotal').innerText = response.total_after_coupon
          document.getElementById('discAmount').innerText = response.discount_amount
          disAmount = response.total_after_coupon
    
        } else if (coupon == "coupon already used") {
          document.getElementById('couponAlert').innerText = "Coupon already used."

          console.log("coupon already used")
        } else {
          document.getElementById('couponAlert').innerText = "Invalid Coupon..!!"

          console.log("not a valid coupon")
        }
      }
    })
  }


  let url=window.location.href
  console.log(url)
</script>
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

 <!--====================== Coupon End ======================-->
{% endblock %}